# Advanced Pandas Techniques

This notebook covers advanced Pandas features and techniques for more complex data manipulation and analysis.

In [1]:
import pandas as pd
import numpy as np

print("Pandas imported successfully!")
print(f"Pandas version: {pd.__version__}")

Pandas imported successfully!
Pandas version: 2.3.0

## Advanced Indexing with MultiIndex

MultiIndex allows you to have multiple levels of indexing, enabling hierarchical data structures for complex data organization.

In [3]:
# MultiIndex Examples
import pandas as pd
import numpy as np

# Create MultiIndex from arrays
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(4, 2), index=index, columns=['X', 'Y'])
print("DataFrame with MultiIndex:")
print(df)

# Create MultiIndex from tuples
tuples = [('A', 'one'), ('A', 'two'), ('B', 'one'), ('B', 'two')]
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df_tuples = pd.DataFrame(np.random.randn(4, 2), index=index, columns=['X', 'Y'])
print("\nDataFrame with MultiIndex from tuples:")
print(df_tuples)

# Accessing data with MultiIndex
print("\nAccessing level 0 'A':")
print(df.loc['A'])

print("\nAccessing specific combination ('A', 'one'):")
print(df.loc[('A', 'one')])

# Cross-section with xs()
print("\nCross-section for second level 'one':")
print(df.xs('one', level='second'))

# MultiIndex for columns
columns = pd.MultiIndex.from_arrays([['Math', 'Math', 'Science', 'Science'], ['Midterm', 'Final', 'Midterm', 'Final']])
df_multi_col = pd.DataFrame(np.random.randint(50, 100, (3, 4)), columns=columns)
print("\nDataFrame with MultiIndex columns:")
print(df_multi_col)

# Accessing MultiIndex columns
print("\nAccessing Math scores:")
print(df_multi_col['Math'])

print("\nAccessing Midterm scores for all subjects:")
print(df_multi_col.xs('Midterm', axis=1, level=1))

# Stacking and unstacking
stacked = df.stack()
print("\nStacked DataFrame:")
print(stacked)

unstacked = stacked.unstack()
print("\nUnstacked DataFrame:")
print(unstacked)

# Grouping with MultiIndex
df_multi = df.reset_index()
grouped = df_multi.groupby(['first', 'second']).mean()
print("\nGrouped by MultiIndex levels:")
print(grouped)

DataFrame with MultiIndex:
                     X         Y
first second
A     one    -0.225104  0.259974
      two     2.298644 -0.205131
B     one     0.061810  0.862524
      two    -0.453943  0.538161

DataFrame with MultiIndex from tuples:
                     X         Y
first second
A     one     0.855809 -0.871186
      two    -0.577840 -2.563211
B     one     0.803069  0.578024
      two     1.161659  0.377295

Accessing level 0 'A':
               X         Y
second
one    -0.225104  0.259974
two     2.298644 -0.205131

Accessing specific combination ('A', 'one'):
X   -0.225104
Y    0.259974
Name: (A, one), dtype: float64

Cross-section for second level 'one':
              X         Y
first
A     -0.225104  0.259974
B      0.061810  0.862524

DataFrame with MultiIndex columns:
     Math       Science
  Midterm Final Midterm Final
0      74    62      89    93
1      99    81      56    93
2      52    57      50    54

Accessing Math scores:
   Midterm  Final
0       74     62
1       99     81
2       52     57

Accessing Midterm scores for all subjects:
   Math  Science
0    74       89
1    99       56
2    52       50

Stacked DataFrame:
first  second
A      one     X   -0.225104
               Y    0.259974
       two     X    2.298644
               Y   -0.205131
B      one     X    0.061810
               Y    0.862524
       two     X   -0.453943
               Y    0.538161
dtype: float64

Unstacked DataFrame:
                     X         Y
first second
A     one    -0.225104  0.259974
      two     2.298644 -0.205131
B     one     0.061810  0.862524
      two    -0.453943  0.538161

Grouped by MultiIndex levels:
                     X         Y
first second
A     one    -0.225104  0.259974
      two     2.298644 -0.205131
B     one     0.061810  0.862524
      two    -0.453943  0.538161

## Working with Categorical Data

Categorical data types in Pandas provide efficient storage and operations for data with a limited number of possible values.

In [4]:
# Categorical Data Examples
import pandas as pd
import numpy as np

# Create DataFrame with categorical data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR'],
    'Performance': ['Good', 'Excellent', 'Good', 'Average', 'Excellent'],
    'City': ['NYC', 'LA', 'Chicago', 'NYC', 'LA']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print(f"\nData types:\n{df.dtypes}")

# Convert to categorical
df['Department'] = df['Department'].astype('category')
df['Performance'] = df['Performance'].astype('category')
df['City'] = df['City'].astype('category')

print(f"\nData types after conversion:\n{df.dtypes}")
print(f"\nDepartment categories: {df['Department'].cat.categories}")
print(f"Performance categories: {df['Performance'].cat.categories}")

# Ordered categorical
performance_order = ['Poor', 'Average', 'Good', 'Excellent']
df['Performance'] = pd.Categorical(df['Performance'], categories=performance_order, ordered=True)
print(f"\nOrdered Performance categories: {df['Performance'].cat.categories}")
print(f"Is Performance ordered: {df['Performance'].cat.ordered}")

# Categorical operations
print(f"\nPerformance codes: {df['Performance'].cat.codes}")
print(f"Department value counts:\n{df['Department'].value_counts()}")

# Adding new categories
df['Department'] = df['Department'].cat.add_categories(['Marketing'])
print(f"\nDepartment categories after adding: {df['Department'].cat.categories}")

# Removing categories
df['Department'] = df['Department'].cat.remove_categories(['Finance'])
print(f"Department categories after removing: {df['Department'].cat.categories}")

# Renaming categories
df['Department'] = df['Department'].cat.rename_categories({'HR': 'Human Resources', 'IT': 'Information Technology'})
print(f"Department categories after renaming: {df['Department'].cat.categories}")

# Memory usage comparison
df_string = pd.DataFrame({
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR'] * 1000,
    'Performance': ['Good', 'Excellent', 'Good', 'Average', 'Excellent'] * 1000
})

df_cat = df_string.copy()
df_cat['Department'] = df_cat['Department'].astype('category')
df_cat['Performance'] = df_cat['Performance'].astype('category')

print(f"\nMemory usage comparison:")
print(f"String columns: {df_string.memory_usage(deep=True).sum()} bytes")
print(f"Categorical columns: {df_cat.memory_usage(deep=True).sum()} bytes")
print(f"Memory saved: {df_string.memory_usage(deep=True).sum() - df_cat.memory_usage(deep=True).sum()} bytes")

# Grouping with categorical data
grouped_cat = df.groupby('Department', observed=True)['Performance'].value_counts()
print(f"\nGrouped by Department and Performance:\n{grouped_cat}")

# Sorting with ordered categorical
df_sorted = df.sort_values('Performance')
print(f"\nDataFrame sorted by Performance:\n{df_sorted[['Name', 'Performance']]}")

Original DataFrame:
      Name Department Performance     City
0    Alice         HR        Good      NYC
1      Bob         IT   Excellent       LA
2  Charlie    Finance        Good  Chicago
3    Diana         IT     Average      NYC
4      Eve         HR   Excellent       LA

Data types:
Name           object
Department     object
Performance    object
City           object
dtype: object

Data types after conversion:
Name             object
Department     category
Performance    category
City           category
dtype: object

Department categories: Index(['Finance', 'HR', 'IT'], dtype='object')
Performance categories: Index(['Average', 'Excellent', 'Good'], dtype='object')

Ordered Performance categories: Index(['Poor', 'Average', 'Good', 'Excellent'], dtype='object')
Is Performance ordered: True

Performance codes: 0    2
1    3
2    2
3    1
4    3
dtype: int8
Department value counts:
Department
HR         2
IT         2
Finance    1
Name: count, dtype: int64

Department categories after adding: Index(['Finance', 'HR', 'IT', 'Marketing'], dtype='object')
Department categories after removing: Index(['HR', 'IT', 'Marketing'], dtype='object')
Department categories after renaming: Index(['Human Resources', 'Information Technology', 'Marketing'], dtype='object')

Memory usage comparison:
String columns: 538132 bytes
Categorical columns: 10673 bytes
Memory saved: 527459 bytes

Grouped by Department and Performance:
Department              Performance
Human Resources         Good           1
                        Excellent      1
                        Poor           0
                        Average        0
Information Technology  Average        1
                        Excellent      1
                        Poor           0
                        Good           0
Name: count, dtype: int64

DataFrame sorted by Performance:
      Name Performance
3    Diana     Average
0    Alice        Good
2  Charlie        Good
1      Bob   Excellent
4      Eve   Excellent

## String/Text Operations

Pandas provides powerful string operations through the `.str` accessor, allowing vectorized string manipulations.

In [ ]:
print("\nCheck for missing text:")
print(df_with_na['Description'].isna())

Original DataFrame:
            Name                     Email                  Description  \
0  Alice Johnson   alice.johnson@email.com  Data Scientist at Tech Corp
1      Bob Smith     bob.smith@company.org            Software Engineer
2  Charlie Brown  charlie.brown@school.edu        Student at University
3   Diana Prince     diana.prince@hero.net              Project Manager
4     Eve Wilson       eve.wilson@work.com         Marketing Specialist

            Phone
0  (555) 123-4567
1    555-987-6543
2  (555) 456-7890
3    555.234.5678
4  (555) 345-6789

Name lengths:
0    13
1     9
2    13
3    12
4    10
Name: Name, dtype: int64

Names in uppercase:
0    ALICE JOHNSON
1        BOB SMITH
2    CHARLIE BROWN
3     DIANA PRINCE
4       EVE WILSON
Name: Name, dtype: object

Names in lowercase:
0    alice johnson
1        bob smith
2    charlie brown
3     diana prince
4       eve wilson
Name: Name, dtype: object

Names title case:
0    Alice Johnson
1        Bob Smith
2    Charlie Brown
3     Diana Prince
4       Eve Wilson
Name: Name, dtype: object

Split names into first and last:
  First Name Last Name
0      Alice   Johnson
1        Bob     Smith
2    Charlie     Brown
3      Diana    Prince
4        Eve    Wilson

Extract domain from email:
0      email.com
1    company.org
2     school.edu
3       hero.net
4       work.com
Name: 1, dtype: object

Extract area code from phone:
     0
0  555
1  NaN
2  555
3  NaN
4  555

Check if email contains 'com':
0     True
1     True
2    False
3    False
4     True
Name: Email, dtype: bool

Replace 'com' with 'org' in emails:
0     alice.johnson@email.org
1       bob.smith@orgpany.org
2    charlie.brown@school.edu
3       diana.prince@hero.net
4         eve.wilson@work.org
Name: Email, dtype: object

Names starting with 'A' or 'B':
            Name                    Email                  Description  \
0  Alice Johnson  alice.johnson@email.com  Data Scientist at Tech Corp
1      Bob Smith    bob.smith@company.org            Software Engineer

            Phone
0  (555) 123-4567
1    555-987-6543

Descriptions containing 'at':
            Name                     Email                  Description  \
0  Alice Johnson   alice.johnson@email.com  Data Scientist at Tech Corp
2  Charlie Brown  charlie.brown@school.edu        Student at University

            Phone
0  (555) 123-4567
2  (555) 456-7890

Clean phone numbers (remove non-digits):
0    5551234567
1    5559876543
2    5554567890
3    5552345678
4    5553456789
Name: Phone, dtype: object

Pad names to length 15:
0    Alice Johnson--
1    Bob Smith------
2    Charlie Brown--
3    Diana Prince---
4    Eve Wilson-----
Name: Name, dtype: object

Strip whitespace:
0     hello
1     world
2    pandas
dtype: object

Extract words from description:
0    [Data, Scientist, at, Tech, Corp]
1                 [Software, Engineer]
2            [Student, at, University]
3                   [Project, Manager]
4              [Marketing, Specialist]
Name: Description, dtype: object

Count words in description:
0    5
1    2
2    3
3    2
4    2
Name: Description, dtype: int64

DataFrame with missing text:
            Name                     Email                  Description  \
0  Alice Johnson   alice.johnson@email.com  Data Scientist at Tech Corp
1      Bob Smith     bob.smith@company.org            Software Engineer
2  Charlie Brown  charlie.brown@school.edu                         None
3   Diana Prince     diana.prince@hero.net              Project Manager
4     Eve Wilson       eve.wilson@work.com         Marketing Specialist

            Phone
0  (555) 123-4567
1    555-987-6543
2  (555) 456-7890
3    555.234.5678
4  (555) 345-6789

Fill missing descriptions:
0    Data Scientist at Tech Corp
1              Software Engineer
2                  Not specified
3                Project Manager
4           Marketing Specialist
Name: Description, dtype: object

Check for missing text:

AttributeError: 'StringMethods' object has no attribute 'isna'